body {
  margin: 0;
  font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
  }
  
  #particles-js {
    position: absolute;
    left: 0;
    width: 100%;
    height: 42%;
    z-index: -1; /* Ensure particles are behind other content */
}
  
  
  .tutor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
 
  }

  .tutor-card {
    /* background-color: #fff; */
    background-color: #0A1C2B;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 255);
    margin: 10px;
    max-width: 250px;
  }

  .tutor-card img {
 width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  .course {
    width: 150px;
    text-align: center;
    margin: 20px;
  }

  .course img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 10px; 
    margin-bottom: 10px;
  }
 
.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.icons a {
  color:black;
  margin: 0 10px; 
}

main {
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: auto; 
}

footer div {
  display: flex;
  align-items: center;
}

footer div h4 {
  margin-right: 10px;
}

footer div p {
  margin: 0;
}

footer div p a {
  color:white;
  text-decoration: none;
}

footer div p a:hover {
  text-decoration: underline;
}

  form {
    background-color:white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px  red;
    width: 300px;
    margin: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }
  header {
    background-color: black; 
    color: #fff; 
    padding: 40px 0; 
    overflow: hidden;
    position: fixed;
    width: 100%;

   
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    display: block;
    margin: 0 auto; 
  }
  
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .nav-menu li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease; 
  }
  
  .nav-menu a:hover {
    color: #6AA75A; 
  }

  .nav-menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }
  .nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  .nav-menu ul li::after {
    height: 3px;
    width: 0;
    background: #6AA75A;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }

  
  .content { 
    padding: 10px;
    border-radius: 5px; 
    
    margin: auto; 
    margin-top: 10px; 
  }
  
  .content h3 {
    margin-bottom: 10px;
  }
  
  .more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:#6AA75A ; 
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .more-btn:hover {
    background-color: #ff4500; 
  }

  .services a i {
    font-size: 80px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:#6AA75A;
  }

  .OurCourses a i {
    font-size: 100px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
    gap: 10px;
    margin: 10px 10px 10px 0;
    color: aquamarine;
}

footer{
  background-color: rgb(0, 0, 0);
}
.socialIcons{
  display: flex;
  justify-content: center;
}

.socialIcons a {
  text-decoration: none;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9;
}

.socialIcons a:hover {
  background-color: black;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: #fff;
  transition: 0.5s;
}
.slideshow-container {
  position: relative;
  width: 100%;
  height: 300px; 
}
.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide.active {
  display: block;
}

/*==Testimonials==*/
.testimonials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.testimonial-card {
  color: white;
  width: 300px;
  padding: 20px;
  background-color:  #0A1C2B;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.testimonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-rating {
  font-size: 24px;
  color: #ffd700; /* Yellow color for stars */
}

.testimonial-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.testimonial-author {
  font-style: italic;
  font-weight: bold;
  color: #333;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.popup-container h2 {
  color: #333;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #888;
}


.form-container {
  text-align: center;
}

.form-container h2 {
  color: #333; /* Adjust the color as needed */
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.testimonial {

  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px;
}

.testimonial .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.testimonial .stars {
  color: #fdd835;
  font-size: 20px;
  margin-bottom: 10px;
}

.testimonial p {
  font-size: 16px;
  margin-bottom: 0;
  color:white;
}

/* Centering Rows and Columns */
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex; /* This makes the testimonials align side by side */
  justify-content: center; /* This centers the testimonials horizontally within the row */
  flex-wrap: wrap; /* This allows the testimonials to wrap to the next line if there isn't enough space */
  width: 100%; /* Ensures the row takes the full width */
}

.col {
  flex: 1; /* This allows the columns to grow and take up equal space */
  max-width: 300px; /* Set a max-width for the columns */
  margin: 10px; /* Add some margin around each column */
}

.login-dark form {
z-index: 1;
max-width:320px;
width:90%;
background-color:#1e2833;
padding:40px;
border-radius:4px;
transform:translate(-50%, -50%);
position:absolute;
top:50%;
left:50%;
color:#fff;
box-shadow:3px 3px 4px rgba(0,0,0,0.2);

}

.login-dark .illustration {
text-align:center;
padding:15px 0 20px;
font-size:100px;
color:#6AA75A;;
}

.login-dark form .form-control {
background:none;
border:none;
border-bottom:1px solid #434a52;
border-radius:0;
box-shadow:none;
outline:none;
color:inherit;
}

.login-dark form .btn-primary {
background:#6AA75A;;
border:none;
border-radius:4px;
padding:11px;
box-shadow:none;
margin-top:26px;
text-shadow:none;
outline:none;
float: right;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
background:#214a80;
outline:none;
}

.login-dark form .forgot {
display:block;
text-align:center;
font-size:12px;
color:#6f7a85;
opacity:0.9;
text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
opacity:1;
text-decoration:none;
}

.login-dark form .btn-primary:active {
transform:translateY(1px);
}




/*========================================================*/

/*
styling the certificate
*/

.box2:hover {
transform: scale(1.05);
cursor: pointer;
color: aqua;
background-color: #1275c6;
}

.container {
display: flex; /* Use flexbox */
/*justify-content: space-around; /* Distribute items evenly */
align-items: center; /* Center items vertically */
text-align: center;
margin-top: 2%;
margin-left: 2%;
margin-right: 2%;
}

.box2 {
width: 300px;
height: 450px;
background-color: #0A1C2B;
margin: 5px;
border-radius: 5%;
}

.box {
  width: 300px;
  height: 450px;
  background-color: #0A1C2B;
  margin: 5px;
  border-radius: 5%;
  }
  

#Services,
#About,
#Contact,
#Pricing, 
#BookUs
{
    padding: 100px 0;
}


.imgTutor{
  border-radius: 50%;
  background-color: #0A1C2B;


}

/*=======Moved from inline styling======*/
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.popup-container h2 {
  color: #333;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #888;
}

.form-container {
  text-align: center;
}

.form-container h2 {
  color: #333; /* Adjust the color as needed */
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

/* Centering Rows and Columns */
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex; /* This makes the testimonials align side by side */
  justify-content: center; /* This centers the testimonials horizontally within the row */
  flex-wrap: wrap; /* This allows the testimonials to wrap to the next line if there isn't enough space */
  width: 100%; /* Ensures the row takes the full width */
}

.col {
  flex: 1; /* This allows the columns to grow and take up equal space */
  max-width: 300px; /* Set a max-width for the columns */
  margin: 10px; /* Add some margin around each column */
}


#loginPopup{
display: none;

}

.login-dark form {
z-index: 1;
max-width:320px;
width:90%;
background-color:#1e2833;
padding:40px;
border-radius:4px;
transform:translate(-50%, -50%);
position:absolute;
top:50%;
left:50%;
color:#fff;
box-shadow:3px 3px 4px rgba(0,0,0,0.2);

}

.login-dark .illustration {
text-align:center;
padding:15px 0 20px;
font-size:100px;
color:#6AA75A;;
}

.login-dark form .form-control {
background:none;
border:none;
border-bottom:1px solid #434a52;
border-radius:0;
box-shadow:none;
outline:none;
color:inherit;
}

.login-dark form .btn-primary {
background:#6AA75A;;
border:none;
border-radius:4px;
padding:11px;
box-shadow:none;
margin-top:26px;
text-shadow:none;
outline:none;
float: right;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
background:#214a80;
outline:none;
}

.login-dark form .forgot {
display:block;
text-align:center;
font-size:12px;
color:#6f7a85;
opacity:0.9;
text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
opacity:1;
text-decoration:none;
}

.login-dark form .btn-primary:active {
transform:translateY(1px);
}


/*========================================================*/

/*
styling the certificate
*/

.box-courses:hover {
transform: scale(1.05);
cursor: pointer;
color: aqua;
background-color: #1275c6;
}

.container-tutor{
display: flex; /* Use flexbox */
/*justify-content: space-around; /* Distribute items evenly */
align-items: center; /* Center items vertically */
text-align: center;
}
.box-courses{
width: 200px;
height: 100px;
margin: 5px;
display: flex;
margin-left: 8%;
}
.box-about {
width: 1520px;
height: 300px;

margin: 8px;

}
.container-courses{
  margin-left: 8%;
  margin-top: 3%;
}
.pricing-plan{
  background-color:  #0A1C2B;
}
  
/*--Top up button */
#top-up-btn {
  position: fixed;
  bottom: 150px;
  right: 20px;
  display: none;
  width: 70px;
  height: 70px;
  background-color: #6AA75A;
  border-radius:100px;
  border: 10px solid #6AA75A;
  color: white;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  line-height: 70px;
  z-index: 999;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}
  

  /*styles for testimonial cards */
.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}
/*services responsive*/
.services-section {
  background-color: #f2f2f2;
  padding: 40px 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.box {
  width: 200px; 
}

.box img {
  height: 180px;
  width: 160px;
}

.box figcaption {
  color: white;
  margin-top: 10px;
}
/*TUTORS*/
h4 {
  font-size: 24px;
  text-align: center;
}

.container-tutor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; 
}

.box {
  text-align: center;
  width: 300px; 
}

.box img {
  height: auto;
  width: 100%; 
  border-radius: 20px;
}

.box figcaption {
  color: white;
  margin-top: 10px; /* Add margin for spacing */
}

/*Pricing styel*/
form input, textarea{
  background-color: #eaf0ff;
  border-radius: 5px;
 }
.box-price {
  width: 580px;
  background-color: #0A1C2B;
  margin: 30px;
  margin-bottom: 50px;
  display: flex;
  height: 270px;
  border-radius: 5px;

}


.main-box-price{
  display: flex;
  text-align: center;
}

.box-price:hover {
  transform: scale(1.02);
  cursor: pointer;
  color: aqua;
  background-color: #1275c6;
  }

  /*drop down*/
  .dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu li a:hover {
  background-color: #f4f4f4;
}

.containerC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.left-container,
.right-container {
  flex: 1;
  padding: 50px; /* Adjust spacing as needed */
}

.left-container {
  text-align: left;
}

.right-container {
  text-align: center;
}



  